    * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #fff;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    /*background-color: #ec53a0;*/
    background-image: url("../images/fondo_negro_y_dorado.png");
}   


.grid{
    display: grid;
    grid-template-columns: 1fr; 
    height: 85vh;
    width: 100%;
    text-align: center;
    align-items: center;
}

.grid__h1{
    margin-bottom: 30px;
}

.grid__item{
    font-size: 2.4rem;
    transition-property: font-size;
    transition: 0.45s ease;
}



.grid__item:first-child{
    padding-top: 100px;
}

.grid__button{

    border-radius: 12px;
    padding: 35px 60px 35px 60px;
    font-size: 1.5rem;
    margin-bottom: 160px;
    transition: .5s ease;
    margin-top: 60px;
    
}

.grid__button:hover{

    background-color: #dbc074; 
    font-size: 75%;
    
}

.grid__button:active{

    opacity: 0.60;
}

.grid__a{
        text-decoration: none;
        color: #000;
        font-weight: bolder;
}

.grid__footer {
    position: relative;
    height: 15vh;
}

.grid__footer_back {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, #564107, transparent);
    opacity: 0.5;
    z-index: 0;
}

.grid__footer p {
    position: relative;
    z-index: 1;
    padding-top: 70px;
    text-align: center;
    color: white;
}