/* ------ GENERAL ------ */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

/* ------ INDEX PRINCIPAL ----- */
.body__index{
    background-image: url("../images/fondo_negro_y_dorado.png");
}

.grid{
    display: grid;
    grid-template-columns: 1fr; 
    height: 85vh;
    width: 100%;
    text-align: center;
    align-items: center;
}

.grid__h1{
    margin-bottom: 30px;
}

.grid__item{
    font-size: 2.4rem;
    transition-property: font-size;
    transition: 0.45s ease;
}



.grid__item:first-child{
    padding-top: 100px;
}

.grid__button{

    border-radius: 12px;
    padding: 35px 60px 35px 60px;
    font-size: 1.5rem;
    margin-bottom: 160px;
    transition: .5s ease;
    margin-top: 60px;
    
}

.grid__button:hover{

    background-color: #dbc074; 
    font-size: 75%;
    
}

.grid__button:active{

    opacity: 0.60;
}

.grid__a{
        text-decoration: none;
        color: #000;
        font-weight: bolder;
}

.grid__footer {
    position: relative;
    height: 15vh;
}

.grid__footer_back {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, #564107, transparent);
    opacity: 0.5;
    z-index: 0;
}

.grid__footer p {
    position: relative;
    z-index: 1;
    padding-top: 70px;
    text-align: center;
    color: #ccc;
}


/* ----- BINGO.PHP ----- */
/* --- FONDO --- */
.body__php {
    background-image: url("../images/fondo_1.png");
    background-size: cover;          
    background-repeat: no-repeat;   
    background-position: center;    
    height: 100vh;                 
    position: relative;             
    color: #d9ad26;
    overflow: hidden;                /* evita scroll si sobra sombra */
}

.body__shadow {
    position: absolute;
    width: 100%; height: 100%;    
    background-color: #000;
    opacity: 0.6;               
    z-index: 1;                      
}

.grid__php {
    position: relative;
    z-index: 2;                
}


/* --- GRID + TABLAS --- */
.grid__php{

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 18vh repeat(3,25vh);

    grid-auto-flow: column;
    grid-auto-rows: 1fr;
    
    gap: 15px;
    padding: 0 20px 0 20px;

    align-items: center;
    justify-items: center;

    
}

/* Primera fila */
.grid__php-div:first-child{
    grid-column-end: span 3;
}

.grid__php-div:nth-child(2){

    grid-column: 4; 
    grid-row: 1;    
    font-size: 1rem;
    text-align: center;
}



.grid__php-div:first-child h1{

    padding:15px 0 5px 0;
    font-size: 2.5rem;
    text-align: center;
}

.grid__php-div:first-child button{

    background-color: #da24;
    padding: 15px 30px 15px 30px;
    border-radius: 12px;
    border: transparent;
    display: block;
    margin: auto;

}

.grid__php-div:first-child button:hover{
    opacity: 0.70;
}


/* Tablas */
.grid__php-table {
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 30px;
}

.grid__php-div p {
    padding:10px 0 5px 0;
}

.grid__php-td {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid  #d9ad26;
}